/* CSS变量，在伪类 :root 中定义了两个变量，这意味着它们将被定义在文档的根元素上，整个文档中都可使用这些变量 */
:root {
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f6f7fb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    text-align: center;
}

.progress_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
    width: 350px;
    max-width: 100%;
}

/* 伪元素 ::before 在元素的内容之前插入内容。 */
.progress_container::before {
    content: "";
    background-color: var(--line-border-empty);
    position: absolute;
    /* 该元素顶部边缘相对于其父元素顶部边缘的偏移量 */
    top: 50%;
    left: 0;
    /* 使用 CSS 变形将伪元素在垂直方向上向上移动自身高度的50%，这样可以使其垂直居中。 */
    /* 先整体向下移动父元素的50%，然后再上移自身的50%，达到垂直居中的效果 */
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--line-border-empty);
    transition: all 400ms ease;
}

.circle.active {
    border-color: var(--line-border-fill);
}

/* :active 是 CSS 伪类，用于选择处于活动状态的元素。 */
.btn:active{
    transform: scale(0.98);
}

.btn:disabled{
    cursor: not-allowed;

}

.btn:focus{
    outline: 0;
}